<?xml version="1.0"?>
<config>
    <modules>
        <Summa_CmsTree>
            <version>1.0.2</version>
        </Summa_CmsTree>
    </modules>
    <global>
        <models>
            <summa_cmstree>
                <class>Summa_CmsTree_Model</class>
                <resourceModel>summa_cmstree_resource</resourceModel>
            </summa_cmstree>
            <summa_cmstree_resource>
                <class>Summa_CmsTree_Model_Resource</class>
                <entities>
                    <cmsTree>
                        <table>cms_tree</table>
                    </cmsTree>
                </entities>
            </summa_cmstree_resource>
        </models>

        <resources>
            <summa_cmstree_setup>
                <setup>
                    <module>Summa_CmsTree</module>
                </setup>
            </summa_cmstree_setup>
        </resources>

        <blocks>
            <summa_cmstree>
                <class>Summa_CmsTree_Block</class>
            </summa_cmstree>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cmstree before="Mage_Adminhtml">Summa_CmsTree_Adminhtml</cmstree>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <cms_tree>
                    <file>cmstree.xml</file>
                </cms_tree>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <summa_cmstree>
                        <class>summa_cmstree/observer</class>
                        <method>addToTopmenu</method>
                    </summa_cmstree>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </frontend>
    <default>
        <cmstree>
            <general>
                <is_visible>1</is_visible>
            </general>
        </cmstree>
    </default>
</config>