<?xml version="1.0"?>
<config>
    <modules>
        <Summa_ViewMails>
            <version>0.0.1</version>
        </Summa_ViewMails>
    </modules>
    <global>
        <blocks>
            <summa_viewmails>
                <class>Summa_ViewMails_Block</class>
            </summa_viewmails>
        </blocks>
        <helpers>
            <summa_viewmails>
                <class>Summa_ViewMails_Helper</class>
            </summa_viewmails>
        </helpers>
        <models>
            <summa_viewmails>
                <class>Summa_ViewMails_Model</class>
                <resourceModel>summa_viewmails_resource</resourceModel>
            </summa_viewmails>
            <summa_viewmails_resource>
                <class>Summa_ViewMails_Model_Resource</class>
                <entities>
                    <email_archive>
                        <table>summa_email_archive</table>
                    </email_archive>
                </entities>
            </summa_viewmails_resource>
            <core>
                <rewrite>
                    <email_template>Summa_ViewMails_Model_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
        <resources>
            <summa_viewmails_setup>
                <setup>
                    <module>Summa_ViewMails</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </summa_viewmails_setup>
        </resources>
        <events>
            <email_template_get_processed_template>
                <observers>
                    <summa_viewmails>
                        <class>summa_viewmails/observer</class>
                        <method>processEmail</method>
                    </summa_viewmails>
                </observers>
            </email_template_get_processed_template>
        </events>
    </global>
    <frontend>
        <routers>
            <emailviewer>
                <use>standard</use>
                <args>
                    <module>Summa_ViewMails</module>
                    <frontName>emailviewer</frontName>
                </args>
            </emailviewer>
        </routers>
        <layout>
            <updates>
                <summa_viewmails>
                    <file>summa/email-preview.xml</file>
                </summa_viewmails>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <summa_viewmails>
                <schedule>
                    <cron_expr>30 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>summa_viewmails/cron::clearEmailArchive</model>
                </run>
            </summa_viewmails>
        </jobs>
    </crontab>
    <default>
        <summa>
            <emails>
                <enabled>0</enabled>
                <clear_email_archive>0</clear_email_archive>
                <period>0</period>
            </emails>
        </summa>
    </default>
</config>
