<?xml version="1.0"?>
<config>
    <modules>
        <Summa_Andreani>
            <version>0.1.4</version>
        </Summa_Andreani>
    </modules>
    <global>
        <models>
            <summa_andreani>
                <class>Summa_Andreani_Model</class>
                <resourceModel>summa_andreani_mysql4</resourceModel>
            </summa_andreani>
            <summa_andreani_mysql4>
                <class>Summa_Andreani_Model_Resource</class>
                <entities>
                    <storepickup>
                        <table>andreani_storepickup</table>
                    </storepickup>
                </entities>
            </summa_andreani_mysql4>
        </models>
        <helpers>
            <summa_andreani>
                <class>Summa_Andreani_Helper</class>
            </summa_andreani>
        </helpers>
        <resources>
            <summa_andreani_setup>
                <setup>
                    <module>Summa_Andreani</module>
                </setup>
            </summa_andreani_setup>
        </resources>
        <blocks>
            <summa_andreani>
                <class>Summa_Andreani_Block</class>
            </summa_andreani>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Summa_Andreani_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Summa_Andreani_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Summa_Andreani_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                    <sales_order_view>Summa_Andreani_Block_Adminhtml_Sales_Order_View</sales_order_view>
                    <sales_order_shipment_view>Summa_Andreani_Block_Adminhtml_Sales_Order_Shipment_View</sales_order_shipment_view>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <order_totals>Summa_Andreani_Block_Sales_Order_Totals</order_totals>
                    <order_invoice_totals>Summa_Andreani_Block_Sales_Order_Invoice_Totals</order_invoice_totals>
                    <order_creditmemo_totals>Summa_Andreani_Block_Sales_Order_Creditmemo_Totals</order_creditmemo_totals>
                </rewrite>
            </sales>
        </blocks>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <summa_andreani_observer>
                        <type>singleton</type>
                        <class>summa_andreani/observer</class>
                        <method>saveShippingMethod</method>
                    </summa_andreani_observer>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <sales_order_invoice_save_commit_after>
                <observers>
                    <summa_andreani_invoice_save_after>
                        <type>model</type>
                        <class>summa_andreani/observer</class>
                        <method>afterInvoiceSave</method>
                    </summa_andreani_invoice_save_after>
                </observers>
            </sales_order_invoice_save_commit_after>
        </events>
        <sales>
            <quote>
                <totals>
                    <summa_andreani_insurance>
                        <class>summa_andreani/sales_quote_address_total_insurance</class>
                        <after>subtotal</after>
                    </summa_andreani_insurance>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <summa_andreani_insurance>
                        <class>summa_andreani/sales_order_invoice_total_insurance</class>
                        <after>subtotal</after>
                    </summa_andreani_insurance>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <summa_andreani_insurance>
                        <class>summa_andreani/sales_order_creditmemo_total_insurance</class>
                        <after>subtotal</after>
                    </summa_andreani_insurance>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <summa_andreani_insurance>
                    <to_order_address>*</to_order_address>
                </summa_andreani_insurance>
                <summa_andreani_branch_id>
                    <to_order_address>*</to_order_address>
                </summa_andreani_branch_id>
                <!--<dni>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </dni>-->
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <summa_andreani_insurance>
                    <to_quote_address>*</to_quote_address>
                </summa_andreani_insurance>
                <summa_andreani_branch_id>
                    <to_quote_address>*</to_quote_address>
                </summa_andreani_branch_id>
                <!--<dni>
                    <to_quote_address>*</to_quote_address>
                </dni>-->
            </sales_convert_order_address>
            <!--<customer_address>
                <dni>
                    <to_quote_address>*</to_quote_address>
                </dni>
            </customer_address>-->
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <andreani>
                <use>standard</use>
                <args>
                    <module>Summa_Andreani</module>
                    <frontName>andreani</frontName>
                </args>
            </andreani>
        </routers>
        <layout>
            <updates>
                <summa_andreani>
                    <file>Summa_Andreani.xml</file>
                </summa_andreani>
            </updates>
        </layout>
        <translate>
            <modules>
                <summa_andreani>
                    <files>
                        <default>Summa_Andreani.csv</default>
                    </files>
                </summa_andreani>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Summa_Andreani before="Mage_Adminhtml">Summa_Andreani_Adminhtml</Summa_Andreani>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <summa_andreani>
                    <file>Summa_Andreani.xml</file>
                </summa_andreani>
            </updates>
        </layout>
        <events>
            <sales_order_shipment_save_before>
                <observers>
                    <summa_andreani_shipment_save_before>
                        <type>model</type>
                        <class>summa_andreani/observer</class>
                        <method>shipmentSaveBefore</method>
                    </summa_andreani_shipment_save_before>
                </observers>
            </sales_order_shipment_save_before>
        </events>
        <translate>
            <modules>
                <summa_andreani>
                    <files>
                        <default>Summa_Andreani.csv</default>
                    </files>
                </summa_andreani>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <carriers>
            <andreani_global>
                <active>0</active>
                <client_number>ANDCORREO</client_number>
                <username>eCommerce_Integra</username>
                <password>passw0rd</password>
                <autocreate_shipping>1</autocreate_shipping>
                <gateway_tracking_url>https://www.e-andreani.com/eAndreaniWSStaging/Service.svc?wsdl</gateway_tracking_url>
                <gateway_storepickup_url>https://www.e-andreani.com/CasaStaging/eCommerce/ConsultaSucursales.svc?singleWsdl</gateway_storepickup_url>
                <gateway_url>https://www.e-andreani.com/CasaStaging/ecommerce/ImposicionRemota.svc?wsdl</gateway_url>
                <gateway_rates_url>https://www.e-andreani.com.ar/CasaStaging/eCommerce/CotizacionEnvio.svc</gateway_rates_url>
                <limit_weight>30000</limit_weight>
                <insurance>2</insurance>
                <apply_insurance_on_shipping_price>0</apply_insurance_on_shipping_price>
                <insurance_subtotal_title>Insurance for Andreani Shipping</insurance_subtotal_title>
                <apply_insurance_when_free_shipping>0</apply_insurance_when_free_shipping>
            </andreani_global>
            <andreani_standard>
                <active>0</active>
                <model>summa_andreani/shipping_carrier_standard</model>
                <contract>AND00EST</contract>
                <title>Andreani Standard</title>
                <name>Shipping Standard</name>
                <sort_order>10</sort_order>
            </andreani_standard>
            <andreani_storepickup>
                <active>0</active>
                <model>summa_andreani/shipping_carrier_storepickup</model>
                <contract>AND00SUC</contract>
                <title>Andreani StorePickup</title>
                <name>Shipping StorePickup</name>
                <sort_order>12</sort_order>
                <sallowspecific>0</sallowspecific>
                <express_max_weight>1</express_max_weight>
                <storepickup_cron>0 5 * * 1</storepickup_cron>
                <postal_codes_disabled>5870</postal_codes_disabled>
            </andreani_storepickup>
            <andreani_urgent>
                <active>0</active>
                <model>summa_andreani/shipping_carrier_urgent</model>
                <contract>AND00URG</contract>
                <title>Andreani Urgent</title>
                <name>Shipping Urgent</name>
                <sort_order>11</sort_order>
            </andreani_urgent>
        </carriers>
        <sales>
            <totals_sort>
                <summa_andreani_insurance>35</summa_andreani_insurance>
            </totals_sort>
        </sales>
    </default>

    <crontab>
        <jobs>
            <summa_andreani_storepickup>
                <schedule>
                    <config_path>carriers/andreani_storepickup/storepickup_cron</config_path>
                </schedule>
                <run>
                    <model>summa_andreani/branch::fetchBranches</model>
                </run>
            </summa_andreani_storepickup>
        </jobs>
    </crontab>
</config>
