<?xml version="1.0"?>
<config>
    <modules>
        <Summa_Andreani>
            <version>0.1.6</version>
        </Summa_Andreani>
    </modules>
    <global>
        <models>
            <summa_andreani>
                <class>Summa_Andreani_Model</class>
                <resourceModel>summa_andreani_mysql4</resourceModel>
            </summa_andreani>
            <summa_andreani_mysql4>
                <class>Summa_Andreani_Model_Resource</class>
                <entities>
                    <branch>
                        <table>andreani_storepickup</table>
                    </branch>
                </entities>
            </summa_andreani_mysql4>
        </models>
        <helpers>
            <summa_andreani>
                <class>Summa_Andreani_Helper</class>
            </summa_andreani>
        </helpers>
        <resources>
            <summa_andreani_setup>
                <setup>
                    <module>Summa_Andreani</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </summa_andreani_setup>
        </resources>
        <blocks>
            <summa_andreani>
                <class>Summa_Andreani_Block</class>
            </summa_andreani>
            <adminhtml>
                <rewrite>
                    <sales_order_shipment_view>Summa_Andreani_Block_Adminhtml_Sales_Order_Shipment_View</sales_order_shipment_view>
                    <sales_order_view>Summa_Andreani_Block_Adminhtml_Sales_Order_View</sales_order_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <summa_andreani_observer>
                        <type>singleton</type>
                        <class>summa_andreani/observer</class>
                        <method>saveShippingMethod</method>
                    </summa_andreani_observer>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <sales_order_invoice_save_commit_after>
                <observers>
                    <summa_andreani_invoice_save_after>
                        <type>model</type>
                        <class>summa_andreani/observer</class>
                        <method>afterInvoiceSave</method>
                    </summa_andreani_invoice_save_after>
                </observers>
            </sales_order_invoice_save_commit_after>
            <paypal_prepare_line_items>
                <observers>
                    <summa_andreani_insurance_paypal_prepare_line_items>
                        <class>summa_andreani/observer</class>
                        <method>updatePaypalTotal</method>
                    </summa_andreani_insurance_paypal_prepare_line_items>
                </observers>
            </paypal_prepare_line_items>
            <sales_order_invoice_save_after>
                <observers>
                    <summa_andreani_insurance_sales_order_invoice_save_after>
                        <class>summa_andreani/observer</class>
                        <method>invoiceSaveAfter</method>
                    </summa_andreani_insurance_sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <summa_andreani_insurance_sales_order_creditmemo_save_after>
                        <class>summa_andreani/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </summa_andreani_insurance_sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
            <sales_order_shipment_track_delete_before>
                <observers>
                    <summa_andreani_track_delete_before>
                        <type>model</type>
                        <class>summa_andreani/observer</class>
                        <method>beforeTrackDelete</method>
                    </summa_andreani_track_delete_before>
                </observers>
            </sales_order_shipment_track_delete_before>
            <sales_order_shipment_save_commit_after>
                <observers>
                    <summa_andreani_sales_order_shipment_save_commit_after>
                        <type>model</type>
                        <class>summa_andreani/observer</class>
                        <method>shipmentGlobalSaveAfter</method>
                    </summa_andreani_sales_order_shipment_save_commit_after>
                </observers>
            </sales_order_shipment_save_commit_after>
            <catalog_product_save_before>
                <observers>
                    <summa_andreani_product_save_before>
                        <type>model</type>
                        <class>summa_andreani/observer</class>
                        <method>beforeProductSave</method>
                    </summa_andreani_product_save_before>
                </observers>
            </catalog_product_save_before>
            <!--
            <summa_andreani_do_shipment_request_call_ws_before>
                <observers>
                    <summa_andreani_add_data_extra>
                        <type>model</type>
                        <class>summa_andreani/observer</class>
                        <method>beforeDoShipmentRequestAddDataExtra</method>
                    </summa_andreani_add_data_extra>
                </observers>
            </summa_andreani_do_shipment_request_call_ws_before>
            -->
        </events>
        <sales>
            <quote>
                <totals>
                    <summa_andreani_insurance>
                        <class>summa_andreani/sales_quote_address_total_insurance</class>
                        <after>subtotal,discount</after>
                    </summa_andreani_insurance>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <summa_andreani_insurance>
                        <class>summa_andreani/sales_order_invoice_total_insurance</class>
                        <after>subtotal,discount</after>
                    </summa_andreani_insurance>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <summa_andreani_insurance>
                        <class>summa_andreani/sales_order_creditmemo_total_insurance</class>
                        <after>subtotal,discount</after>
                    </summa_andreani_insurance>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <summa_andreani_insurance_amount>
                    <to_order>*</to_order>
                    <to_order_address>*</to_order_address>
                </summa_andreani_insurance_amount>
                <base_summa_andreani_insurance_amount>
                    <to_order>*</to_order>
                    <to_order_address>*</to_order_address>
                </base_summa_andreani_insurance_amount>
                <andreani_branch_id>
                    <to_order_address>*</to_order_address>
                </andreani_branch_id>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <summa_andreani_insurance_amount>
                    <to_order>*</to_order>
                    <to_quote_address>*</to_quote_address>
                </summa_andreani_insurance_amount>
                <base_summa_andreani_insurance_amount>
                    <to_order>*</to_order>
                    <to_quote_address>*</to_quote_address>
                </base_summa_andreani_insurance_amount>
                <andreani_branch_id>
                    <to_quote_address>*</to_quote_address>
                </andreani_branch_id>
            </sales_convert_order_address>
            <!--
            <sales_convert_quote_address>
                <dni>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </dni>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <dni>
                    <to_quote_address>*</to_quote_address>
                </dni>
            </sales_convert_order_address>
            <customer_address>
                <dni>
                    <to_quote_address>*</to_quote_address>
                </dni>
            </customer_address>
            -->
        </fieldsets>
        <pdf>
            <totals>
                <summa_andreani_insurance translate="title">
                    <title>Insurance for andreani</title>
                    <source_field>summa_andreani_insurance_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix>-</amount_prefix>
                </summa_andreani_insurance>
            </totals>
        </pdf>
    </global>
    <frontend>
        <routers>
            <andreani>
                <use>standard</use>
                <args>
                    <module>Summa_Andreani</module>
                    <frontName>andreani</frontName>
                </args>
            </andreani>
        </routers>
        <layout>
            <updates>
                <summa_andreani>
                    <file>Summa_Andreani.xml</file>
                </summa_andreani>
            </updates>
        </layout>
        <translate>
            <modules>
                <summa_andreani>
                    <files>
                        <default>Summa_Andreani.csv</default>
                    </files>
                </summa_andreani>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Summa_Andreani before="Mage_Adminhtml">Summa_Andreani_Adminhtml</Summa_Andreani>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <summa_andreani>
                    <file>Summa_Andreani.xml</file>
                </summa_andreani>
            </updates>
        </layout>
        <events>
            <sales_order_shipment_save_before>
                <observers>
                    <summa_andreani_shipment_save_before>
                        <type>model</type>
                        <class>summa_andreani/observer</class>
                        <method>shipmentSaveBefore</method>
                    </summa_andreani_shipment_save_before>
                </observers>
            </sales_order_shipment_save_before>
        </events>
        <translate>
            <modules>
                <summa_andreani>
                    <files>
                        <default>Summa_Andreani.csv</default>
                    </files>
                </summa_andreani>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <carriers>
            <andreaniGlobal>
                <!-- GLOBAL SETTINGS -->
                <active>0</active>
                <client_number>ANDCORREO</client_number>
                <username>eCommerce_Integra</username>
                <password>passw0rd</password>
                <autocreate_shipping_on_invoice_create>1</autocreate_shipping_on_invoice_create>
                <autocreate_shipping_on_shipment_create>1</autocreate_shipping_on_shipment_create>
                <statuses_update_cron>0 0 * * *</statuses_update_cron>
                <andreani_shipping_completed>andreani_shipping_completed</andreani_shipping_completed>
                <andreani_shipping_failed>andreani_shipping_failed</andreani_shipping_failed>
                <andreani_shipping_others>andreani_shipping_processing</andreani_shipping_others>
                <source_rates>1</source_rates>
                <!-- MATRIX RATES SETTINGS -->
                <condition_name>package_weight</condition_name>
                <conditionable_filters>1,2</conditionable_filters>
                <add_iva_to_rates>0</add_iva_to_rates>
                <iva_percentage>21</iva_percentage>
                <!-- GATEWAY SETTINGS -->
                <gateway_tracking_url>https://www.e-andreani.com/eAndreaniWSStaging/Service.svc?wsdl</gateway_tracking_url>
                <gateway_storepickup_url>https://www.e-andreani.com/CasaStaging/eCommerce/ConsultaSucursales.svc?wsdl</gateway_storepickup_url>
                <gateway_url>https://www.e-andreani.com/CasaStaging/ecommerce/ImposicionRemota.svc?wsdl</gateway_url>
                <gateway_rates_url>https://www.e-andreani.com.ar/CasaStaging/eCommerce/CotizacionEnvio.svc?wsdl</gateway_rates_url>
                <!-- INSURANCE SETTINGS -->
                <insurance>2</insurance>
                <apply_insurance_on_shipping_price>0</apply_insurance_on_shipping_price>
                <insurance_subtotal_title>Insurance for Andreani Shipping</insurance_subtotal_title>
                <apply_insurance_when_free_shipping>0</apply_insurance_when_free_shipping>
                <!-- ATTRIBUTES SETTINGS -->
                <attribute_weight>weight_andreani</attribute_weight>
                <attribute_height>height_andreani</attribute_height>
                <attribute_width>width_andreani</attribute_width>
                <attribute_length>length_andreani</attribute_length>
                <!-- LIMITS SETTINGS -->
                <maximum_limit_weight>30000</maximum_limit_weight>
                <minimum_limit_weight>1</minimum_limit_weight>
                <minimum_limit_weight_action>0</minimum_limit_weight_action>
                <minimum_limit_volume>1</minimum_limit_volume>
            </andreaniGlobal>
            <andreaniStandard>
                <active>0</active>
                <is_tracking_enabled>1</is_tracking_enabled>
                <is_custom_client_number>0</is_custom_client_number>
                <client_number>ANDCORREO</client_number>
                <is_custom_username>0</is_custom_username>
                <username>eCommerce_Integra</username>
                <is_custom_password>0</is_custom_password>
                <password>passw0rd</password>
                <model>summa_andreani/shipping_carrier_standard</model>
                <contract>AND00EST</contract>
                <additional_description>Cap. Fed., GBA, region capital and main cities: 48-72 business hours. Rest of country: 72-144 business hours.</additional_description>
                <title>Andreani Standard</title>
                <name>Shipping Standard</name>
                <sort_order>10</sort_order>
                <shipping_type_for_matrixrates>Standard</shipping_type_for_matrixrates>
                <free_method_text>Free Shipping using Andreani Standard</free_method_text>
                <include_virtual_price>1</include_virtual_price>
                <allow_free_shipping_promotions>1</allow_free_shipping_promotions>
                <show_only_free>1</show_only_free>
                <include_free_ship_items>0</include_free_ship_items>
                <showmethod>0</showmethod>
                <show_as_select>0</show_as_select>
            </andreaniStandard>
            <andreaniStorepickup>
                <active>0</active>
                <is_tracking_enabled>1</is_tracking_enabled>
                <is_custom_client_number>0</is_custom_client_number>
                <client_number>ANDCORREO</client_number>
                <is_custom_username>0</is_custom_username>
                <username>eCommerce_Integra</username>
                <is_custom_password>0</is_custom_password>
                <password>passw0rd</password>
                <model>summa_andreani/shipping_carrier_storepickup</model>
                <contract>AND00SUC</contract>
                <additional_description>Cap. Fed., GBA, region capital and main cities: 48-72 business hours. Rest of country: 72-144 business hours.</additional_description>
                <title>Andreani StorePickup</title>
                <name>Shipping StorePickup</name>
                <sort_order>12</sort_order>
                <sallowspecific>0</sallowspecific>
                <express_max_weight>1</express_max_weight>
                <storepickup_cron>0 5 * * 1</storepickup_cron>
                <postal_codes_disabled>5870</postal_codes_disabled>
                <shipping_type_for_matrixrates>Storepickup</shipping_type_for_matrixrates>
                <free_method_text>Free Shipping using Andreani StorePickup</free_method_text>
                <include_virtual_price>1</include_virtual_price>
                <allow_free_shipping_promotions>1</allow_free_shipping_promotions>
                <show_only_free>1</show_only_free>
                <include_free_ship_items>0</include_free_ship_items>
                <showmethod>0</showmethod>
                <show_as_select>1</show_as_select>
            </andreaniStorepickup>
            <andreaniUrgent>
                <active>0</active>
                <is_tracking_enabled>1</is_tracking_enabled>
                <is_custom_client_number>0</is_custom_client_number>
                <client_number>ANDCORREO</client_number>
                <is_custom_username>0</is_custom_username>
                <username>eCommerce_Integra</username>
                <is_custom_password>0</is_custom_password>
                <password>passw0rd</password>
                <model>summa_andreani/shipping_carrier_urgent</model>
                <contract>AND00URG</contract>
                <additional_description>Cap. Fed., GBA, region capital and main cities: 48-72 business hours. Rest of country: 72-144 business hours.</additional_description>
                <title>Andreani Urgent</title>
                <name>Shipping Urgent</name>
                <sort_order>11</sort_order>
                <shipping_type_for_matrixrates>Urgent</shipping_type_for_matrixrates>
                <free_method_text>Free Shipping using Andreani Urgent</free_method_text>
                <include_virtual_price>1</include_virtual_price>
                <allow_free_shipping_promotions>0</allow_free_shipping_promotions>
                <show_only_free>1</show_only_free>
                <include_free_ship_items>0</include_free_ship_items>
                <showmethod>0</showmethod>
                <show_as_select>0</show_as_select>
            </andreaniUrgent>
        </carriers>
        <sales>
            <totals_sort>
                <summa_andreani_insurance>35</summa_andreani_insurance>
            </totals_sort>
        </sales>
    </default>

    <crontab>
        <jobs>
            <summa_andreani_storepickup>
                <schedule>
                    <config_path>carriers/andreaniStorepickup/storepickup_cron</config_path>
                </schedule>
                <run>
                    <model>summa_andreani/branch::fetchBranches</model>
                </run>
            </summa_andreani_storepickup>
            <summa_andreani_shipping_statuses_update>
                <schedule>
                    <config_path>carriers/andreaniGlobal/statuses_update_cron</config_path>
                </schedule>
                <run>
                    <model>summa_andreani/status::updateAllAndreaniShipmentStatuses</model>
                </run>
            </summa_andreani_shipping_statuses_update>
        </jobs>
    </crontab>
</config>
